# Battle of Neighborhoods (week 1)

## The Problem Statement

Mr. A has recently shifted to NEW YORK CITY. Since he is new to the town he has no idea about the city. He have no knowledge about the cuisine, entertainment or neighborhoods. Therefore he requires a program where he enter the name of the neighborhood he wants to know about. How many hospitals,restaurants or movie theatres are there in that particular neighbourhood.

## The Solution
We will create a menu of Top Ten most important requirements of Mr.A for example hospitals,hotels,casinos, zoo etc. Thereafter Mr.A will be required to enter a number from 1-10 and the name of the neighborhood he wants to know about. Since we will use only New York City data the neighborhoods name must belong to New York. After that we will use foursquare api to generate data for the request and display it on the map using foilum library.

# DATA

We will be using New York City, available to us in json format.
(Since, I have already downloaded the data I will be using it from my local hard drive.)

### Let us import some important libraries.

In [1]:
import numpy as np
import pandas as pd
import requests
import folium
from geopy.geocoders import Nominatim
import json
from pandas.io.json import json_normalize

### Let us get the data.

In [2]:
with open('C:/Users/Asus/Downloads/newyork_data.json') as json_data:
    newyork_data=json.load(json_data)

In [3]:
newyork_data
df1=newyork_data['features']
df1[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

In [4]:
columns_name=['Borough','Neighborhoods','Latitude','Longitude']

newyork_df=pd.DataFrame(columns=columns_name)
newyork_df

Empty DataFrame
Columns: [Borough, Neighborhoods, Latitude, Longitude]
Index: []

In [5]:
for i in df1:
    borough=name=i['properties']['borough']
    name=i['properties']['name']
    coordinates=i['geometry']['coordinates']
    latitude=coordinates[1]
    longitude=coordinates[0]
    newyork_df=newyork_df.append({'Borough':borough,
                 'Neighborhoods':name,
                 'Latitude':latitude,
                 'Longitude':longitude},ignore_index=True)

In [6]:
newyork_df.head()

  Borough Neighborhoods   Latitude  Longitude
0   Bronx     Wakefield  40.894705 -73.847201
1   Bronx    Co-op City  40.874294 -73.829939
2   Bronx   Eastchester  40.887556 -73.827806
3   Bronx     Fieldston  40.895437 -73.905643
4   Bronx     Riverdale  40.890834 -73.912585

In [7]:
print('The dataframe has {} Boroughs and {} Neighborhoods'.format(len(newyork_df['Borough'].unique()),newyork_df['Neighborhoods'].shape[0]))

The dataframe has 5 Boroughs and 306 Neighborhoods